/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #75be96;
    color: #f7f4f4;
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .logo {
    display: flex;
    width: 90px;
    height: 70px;
    padding-right: 800px;
    
      
}
.carrito{
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 0.5%;
}

.botonesCarrito{
    display: flex;
    justify-content:center;
    margin: 10px;
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f7f4f4;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  .saludo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color: #14010180;

  }